<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
 
<mapper namespace='pl.atena.aj.be.ebay.dao.CameraDao'>
 
 	<resultMap type='Camera' id='CameraResult'>
		<id property='cameraId' column='camera_id' />
		<result property='cameraMake' column='camera_make' />
		<result property='cameraModel' column='camera_model' />
		<result property='finalPrice' column='final_price' />
	</resultMap>

	<select id='getCameraById' parameterType='int' resultType='Camera'>
		SELECT
			c.camera_id as camera_id,
			c.camera_make as camera_make,
			c.camera_model as camera_model,
			c.final_price as final_price
		FROM camera c
		WHERE c.camera_id = #{cameraId}
	</select>

	<select id='getAllCameras' resultMap='CameraResult'>
		SELECT * FROM camera
	</select>

	<insert id='insertCamera' parameterType='Camera' useGeneratedKeys='true' keyProperty='cameraId'>
		INSERT INTO camera(camera_id, camera_make, camera_model, final_price)
		VALUES(#{cameraMake}, #{cameraModel}, #{finalPrice})
	</insert>

	<update id='updateCamera' parameterType='Camera'>
		UPDATE camera
		SET	camera_make= #{cameraMake},
		    camera_model = #{cameraModel},
			final_price = #{finalPrice}
		WHERE camera_id = #{cameraId}
	</update>

	<delete id='deleteCamera' parameterType='int'>
		DELETE FROM camera WHERE camera_id = #{cameraId}
	</delete>
 
</mapper>
