<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mappers">
 
 	<resultMap type="Camera" id="CameraResult">
		<id property="cameraId" column="cam_camera_id" />
		<result property="cameraMake" column="cam_camera_make" />
		<result property="cameraModel" column="cam_camera_model" />
		<result property="finalPrice" column="cam_final_price" />
	</resultMap>

	<sql id="cameraColumns">
		cam.camera_id    as cam_camera_id,
		cam.camera_make  as cam_camera_make,
		cam.camera_model as cam_camera_model,
		cam.final_price  as cam_final_price
	</sql>

	<sql id="cameraFrom">
		FROM camera cam
	</sql>

	<select id="getCamera" parameterType="int" resultType="Camera" resultMap="CameraResult">
		SELECT
			<include refid="cameraColumns" />
			<include refid="cameraFrom" />
		WHERE cam.camera_id = #{id}
	</select>

	<select id="getAllCamera" resultMap="CameraResult">
		SELECT 
			<include refid="cameraColumns" />
			<include refid="cameraFrom" />
	</select>

	<insert id="createCamera" parameterType="Camera" useGeneratedKeys="true" keyColumn="cameraId">
		INSERT INTO
			camera(camera_make,
			       camera_model,
			       final_price)
		VALUES(
				#{cameraMake},
				#{cameraModel},
				#{finalPrice})
	</insert>

	<update id="updateCamera" parameterType="Camera">
		UPDATE camera
		SET	camera_make  = #{cameraMake},
		    camera_model = #{cameraModel},
			final_price  = #{finalPrice}
		WHERE camera_id  = #{cameraId}
	</update>

	<delete id="deleteCamera" parameterType="int">
		DELETE
			<include refid="cameraFrom" />
		WHERE cam.camera_id = #{id}
	</delete>
 
</mapper>