Base pom for all Chris projects
==========================

POM                | Description
-------------------|-----------------------
mvn-commons-kk     | **This is for extending in my groupId pl.atena.aj.kk projects**

#set( $H = '#' )

$H$H Example:
In your pom add folowing line at the begining of file.


```xml
<project>
    ...
    <parent>
        <groupId>pl.atena.aj.kk</groupId>
        <artifactId>mvn-common-kk</artifactId>
        <version>${project.version}</version>
    </parent>
    ...
</project>
```

