<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pl.atena.aj.be.music.mappers.AlbumDTO">
 
 	<resultMap type="AlbumDTO" id="AlbumDTOResult">
		<id      property="albumId"  column="alb_id" />
		<result  property="title"    column="alb_title" />
		<result  property="genre"    column="alb_genre_id" />
		<result  property="year"     column="alb_year" />
		<result  property="artistId" column="alb_artist_id" />
	</resultMap>

	<sql id="albumDTOColumns">
		alb.id          as alb_id,
		alb.title       as alb_title,
		alb.genre_id    as alb_genre_id,
		alb.year        as alb_year,
		alb.artist_id   as alb_artist_id,
	</sql>

	<sql id="albumDTOFrom">
		FROM albums alb
	</sql>

	<sql id="artistJoin">
		LEFT JOIN artists art ON art.id = alb.artist_id
	</sql>

	<sql id="tracksJoin">
		LEFT OUTER JOIN tracks trk ON trk.album_id = alb.id
	</sql>

	<sql id="allColumns">
		<include refid="albumDTOColumns" />
		<trim suffixOverrides=",">
			<include refid="pl.atena.aj.be.music.mappers.ArtistDTO.artistDTOColumns" />
		</trim>
	</sql>
	
	<sql id="allColumnsAndJoins">
		<include refid="allColumns" />
		<include refid="albumDTOFrom" />
		<include refid="artistJoin" />
	</sql>

	<select id="getAlbumDTO" parameterType="int" resultType="AlbumDTO" resultMap="AlbumDTOResult">
		SELECT
			<include refid="allColumnsAndJoins" />
		WHERE alb.id = #{id}
	</select>

	<select id="getAllAlbumDTO" resultMap="AlbumDTOResult">
		SELECT
			<include refid="allColumnsAndJoins" />
	</select>

	<insert id="createAlbumDTO" parameterType="AlbumDTO" useGeneratedKeys="true" keyProperty="albumId">
		INSERT INTO albums (title, artist_id, genre_id, year)
		VALUES (
				 #{title},
				 #{artistId},
				 #{genre},
				 #{year}
			   )
	</insert>

	<update id="updateAlbumDTO" parameterType="AlbumDTO">
		UPDATE albums
		SET	   title     = #{title},
			   genre_id  = #{genre},
			   year      = #{year},
			   artist_id = #{artistId}
	    WHERE  id        = #{albumId}
	</update>

	<delete id="deleteAlbumDTO" parameterType="int">
		DELETE FROM albums
		WHERE id = #{id}
	</delete>
 
</mapper>