<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pl.atena.aj.be.music.mappers.GenreDTO">
 
 	<resultMap type="GenreDTO" id="GenreDTOResult">
		<id property="genreId" column="gen_id" />
		<result property="name" column="gen_name" />
	</resultMap>

	<sql id="genreDTOColumns">
		gen.id     as gen_id,
		gen.name   as gen_name,
	</sql>

	<sql id="genreDTOFrom">
		FROM genres gen
	</sql>

	<select id="getGenreDTO" parameterType="int" resultType="GenreDTO" resultMap="GenreDTOResult">
		SELECT
			<include refid="genreDTOColumns" />
			<include refid="genreDTOFrom" />
		WHERE gen.id = #{id}
	</select>

	<select id="getAllGenreDTO" resultMap="GenreDTOResult">
		SELECT 
			<include refid="genreDTOColumns" />
			<include refid="genreDTOFrom" />
	</select>

	<insert id="createGenreDTO" parameterType="GenreDTO" useGeneratedKeys="true" keyProperty="genreId">
		INSERT INTO
			genres  (name)
		VALUES   (#{name})
	</insert>

	<update id="updateGenreDTO" parameterType="GenreDTO">
		UPDATE genres
		SET	name = #{name}
		WHERE id = #{genreId}
	</update>

	<delete id="deleteGenreDTO" parameterType="int">
		DELETE
			<include refid="genreDTOFrom" />
		WHERE id = #{id}
	</delete>
 
</mapper>