<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>

<configuration>
	<properties resource='jdbc.properties' />
	
	<typeAliases>
		<typeAlias type='pl.atena.aj.be.music.domain.AlbumDTO'  alias='AlbumDTO'  />
		<typeAlias type='pl.atena.aj.be.music.domain.ArtistDTO' alias='ArtistDTO' />
		<typeAlias type='pl.atena.aj.be.music.domain.GenreDTO'  alias='GenreDTO'  />
		<typeAlias type='pl.atena.aj.be.music.domain.TrackDTO'  alias='TrackDTO'  />
	</typeAliases>
	
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource='mappers/AlbumDTOMapper.xml'  />
		<mapper resource='mappers/ArtistDTOMapper.xml' />
		<mapper resource='mappers/GenreDTOMapper.xml'  />
		<mapper resource='mappers/TrackDTOMapper.xml'  />
	</mappers>
	
</configuration>